@page
@model LocalPhoneAdmin.Areas.Customer.Pages.CreateModel

@using Microsoft.AspNetCore.Identity
@using LocalPhoneDomain.Areas.Identity.Data

@inject SignInManager<UserModel> SignInManager
@*@inject UserManager<UserModel> UserManager*@

@if (SignInManager.IsSignedIn(User))
{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <h3>Create Customer</h3>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CustomerModel.PhoneNumber" class="control-label"></label>
                    <input asp-for="CustomerModel.PhoneNumber" class="form-control" />
                    <span asp-validation-for="CustomerModel.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerModel.FirstName" class="control-label"></label>
                    <input asp-for="CustomerModel.FirstName" class="form-control" />
                    <span asp-validation-for="CustomerModel.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerModel.LastName" class="control-label"></label>
                    <input asp-for="CustomerModel.LastName" class="form-control" />
                    <span asp-validation-for="CustomerModel.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerModel.DateOfBirth" class="control-label"></label>
                    <input asp-for="CustomerModel.DateOfBirth" class="form-control" />
                    <span asp-validation-for="CustomerModel.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerModel.Email" class="control-label"></label>
                    <input asp-for="CustomerModel.Email" class="form-control" />
                    <span asp-validation-for="CustomerModel.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerModel.PublishedAppVersion" class="control-label"></label>
                    <input asp-for="CustomerModel.PublishedAppVersion" class="form-control" />
                    <span asp-validation-for="CustomerModel.PublishedAppVersion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerModel.OperationalSystem" class="control-label"></label>
                    <input asp-for="CustomerModel.OperationalSystem" class="form-control" />
                    <span asp-validation-for="CustomerModel.OperationalSystem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerModel.IdGender" class="control-label"></label>

                    <select asp-for="CustomerModel.IdGender" class="form-control"
                            asp-items="@Model.GenderSelectList">
                        <option value="">-- Select Gender --</option>
                    </select>
                    <span asp-validation-for="CustomerModel.IdGender" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="CustomerModel.IdCountry" class="control-label"></label>

                    <select asp-for="CustomerModel.IdCountry" class="form-control"
                            asp-items="@Model.CountrySelectList">
                        <option value="">-- Select Country --</option>
                    </select>
                    <span asp-validation-for="CustomerModel.IdCountry" class="text-danger" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="Index">Back to List</a>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
